@import '../lib/Sass/variables/index.scss';
@import '../lib/Sass/fonts/typography';

.root-layout {
    height: 100vh;
  }
  
  .main-content {
    display: flex;
    background-color: $lendsqrChildCol;
    
    @media (max-width:786px) {
      
    }

    .outlet{
        padding: 60px;

        @media (max-width:786px) {
          padding: 10px;
        }
    }
  }
  
  