@import '../../../lib/Sass/variables/index.scss';
@import '../../../lib/Sass/fonts/typography';

*{
  font-family: $font-family-base;
  overflow: auto;
}

.input-wrapper {
    position: relative;
  
    .custom-input {
      padding: 0.5rem;
      font-size: 1rem;
      border: $border-primary;
      border-radius: 5px;
      outline: none;
      width: 450px;
      height: 35px;
        
      &::placeholder {
        color: #999; 
        font-weight: 400px;
        opacity: .6;
      }

      &:focus {
        border-color: $lendsqrGreen;
        box-shadow: 0 0 0 3px rgba(0, 255, 0, 0.2);
      }

      @media (max-width: 786px) {
        width: 300px;
      }
    }
    span{
        position: absolute;
        top: 50%;
        font-weight: 600;
        right: 0.75rem;
        transform: translateY(-50%);
        cursor: pointer;
        color: $lendsqrGreen;

        @media (max-width: 786px) {
            right: 1.5rem;
          }
    }
  }