@import '../../../lib/Sass/variables/index.scss';

.card-container{
    background-color: white;
    box-shadow: $shadow;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 240px;
    border: 1px solid #213F7D0F;

    @media (max-width:786px) {
        width: 305px;
        overflow-x: hidden;
    }

    .title{
        font-size: 14px;
        font-weight: 400;
        text-transform:uppercase ;
        color: $subText;
    }

    .figure{
        font-size: 24px;
        font-weight: 600;
        color: $primarycol;
    }
}